
.App {
  text-align: center;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
  background-color: #e0f7e0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #004d00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: fadeIn 1s ease-in-out;
}

.App-link {
  color: #61dafb;
  transition: color 0.3s ease-in-out;
}

.App-link:hover {
  color: #21a1f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  animation: fadeIn 1s ease-in-out;
  background-color: #e0f7e0;
}

.personal-details {
  background-color: #b3e6b3;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.tabs {
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #b3e6b3;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tabs button:hover {
  background-color: #66cc66;
  color: white;
}

.tabs button.active {
  background-color: #007bff;
  color: white;
  border: none;
}

table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #e0f7e0;
  animation: fadeIn 1s ease-in-out;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  transition: background-color 0.3s ease-in-out;
}

th:hover, td:hover {
  background-color: #ccffcc;
}

@media (max-width: 600px) {
  table {
    width: 100%;
  }
}

